:root {
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-accent: #3d91f4;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-accent: #3d91f4;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-elevated-base);
}

::-webkit-scrollbar-thumb {
  background: var(--background-elevated-highlight);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-subdued);
  transition: background-color 0.2s ease-in-out;
}

/* ================ */
/* CONTAINER STYLES */
/* ================ */
body {
  background-color: var(--background-base);
  color: var(--text-base);
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.public-content-container {
  align-items: center;
  background-color: var(--background-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

.private-content-container {
  align-items: center;
  background-color: var(--background-base);
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  padding: 1rem 5rem;
}

.content-container {
  align-items: center;
  background-color: var(--background-elevated-base);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.content-container-sm {
  max-width: 400px;
}

.content-container-md {
  max-width: 600px;
}

.content-container-lg {
  max-width: 800px;
}

.content-container form {
  width: 100%;
}

.content-container h1,
.content-container h2,
.content-container h3 {
  margin-bottom: 1rem;
}

.content-container a {
  color: var(--text-accent);
  text-decoration: none;
}

.content-container a:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease-in-out;
}

.content-container input[type='text'],
.content-container input[type='username'],
.content-container input[type='password'],
.content-container input[type='email'],
.content-container input[type='submit'],
.content-container input[type='file'] {
  border: 1px solid var(--text-subdued);
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.content-container input[type='color'] {
  border: none;
  border-radius: 0.6rem;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  width: 2.4rem;
  height: 2.4rem;
}

::-webkit-color-swatch {
  border: none;
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  border: none;
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
}

.content-container input:focus {
  outline: 1px solid var(--text-accent);
  transition: outline 0.2s ease-in-out;
}

.content-container input[type='submit'] {
  background-color: var(--background-accent);
  border: none;
  cursor: pointer;
  font: inherit;
}

.content-container input[type='submit']:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease-in-out;
}

/* ============== */
/* SIGN IN STYLES */
/* ============== */
#password-input {
  margin-bottom: 0;
}

#forgot-password-link {
  text-align: right;
  display: block;
  margin: 0.25rem 0 1rem;
}

/* ============= */
/* NAVBAR STYLES */
/* ============= */
nav {
  background-color: var(--background-elevated-base);
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-y: auto;
  overflow: hidden;
  top: 0;
  width: 200px;
  z-index: 1;
}

nav > * {
  color: var(--text-base);
  text-decoration: none;
}

nav #nav-brand {
  align-items: center;
  color: var(--text-base);
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  padding: 1rem;
  text-decoration: none;
}

nav #nav-user img {
  background-color: var(--background-elevated-highlight);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  height: 100px;
  margin: 1rem auto;
  width: 100px;
}

nav #nav-user img:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease-in-out;
}

nav #nav-user h3 {
  margin-bottom: 1rem;
  text-align: center;
}

nav #nav-user-mobile {
  display: none;
}

nav .nav-item {
  align-items: center;
  display: flex;
}

nav .nav-item:hover {
  background-color: var(--background-elevated-highlight);
  transition: background-color 0.2s ease-in-out;
}

nav .nav-item img {
  filter: brightness(0) invert(1);
  height: 40px;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
  width: 40px;
}

nav .nav-item:last-child {
  margin-top: auto;
  padding: 1rem 0;
}

/* ================ */
/* USER CARD STYLES */
/* ================ */
.user-card {
  align-items: center;
  background-color: var(--background-base);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.user-card:hover {
  background-color: var(--background-highlight);
  transition: background-color 0.2s ease-in-out;
}

.user-card .user-card-portrait {
  border-radius: 50%;
  height: 50px;
  margin-right: 1rem;
  width: 50px;
}

.user-card-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user-card-buttons img {
  width: 30px;
  height: 30px;
  padding: 5px;
  filter: brightness(0) invert(1);
}

.user-card-button {
  background-color: var(--background-elevated-base);
  display: flex;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.user-card-button:hover {
  background-color: var(--background-elevated-highlight);
  transition: background-color 0.2s ease-in-out;
}

/* ============== */
/* FRIENDS STYLES */
/* ============== */
.friends-container .no-friends-label,
.friend-requests-container .no-friend-requests-label {
  color: var(--text-subdued);
  margin-bottom: 1rem;
  text-align: center;
}

.friend-requests-container {
  margin-bottom: 1rem;
}

.friend-requests-container form {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.friend-requests-container form input[type='image'] {
  background-color: var(--background-accent);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font: inherit;
  margin-bottom: 0;
  padding: 0.25rem;
  width: 1.7rem;
}

.friend-requests-container form input[type='image']:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease-in-out;
}

.friend-requests-container form input[type='username'] {
  margin-bottom: 0;
}

.friend-cards-container,
.friend-request-cards-container {
  width: 100%;
  max-height: 40vh;
  overflow-y: auto;
}

/* =============== */
/* SETTINGS STYLES */
/* =============== */
.settings-container h3 {
  text-align: center;
}

.settings-container p {
  margin-bottom: 0.5rem;
  width: 100%;
}

.settings-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.settings-container form {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.5rem;
  width: 100%;
}

.settings-container form input[type='image'] {
  background-color: var(--background-accent);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font: inherit;
  margin-bottom: 0;
  padding: 0.25rem;
  width: 1.9rem;
}

.settings-container form input[type='image']:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease-in-out;
}

.settings-container form input[type='file'] {
  margin-bottom: 0;
  background-color: var(--text-base);
  color: var(--background-base);
}

.settings-container form input[type='image']:disabled {
  background-color: var(--text-subdued);
}

.settings-container form input[type='image']:disabled:hover {
  filter: none;
}

/* =========================== */
/* MOBILE/SMALL DISPLAY STYLES */
/* =========================== */
@media (max-width: 900px) {
  /* ================ */
  /* CONTAINER STYLES */
  /* ================ */
  .public-content-container {
    padding: 5rem 3rem;
  }

  .private-content-container {
    margin-left: 0;
    padding: 1rem 3rem 100px 3rem;
  }

  /* ============= */
  /* NAVBAR STYLES */
  /* ============= */
  nav {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-evenly;
    left: 0;
    margin-top: auto;
    position: fixed;
    overflow: hidden;
    right: 0;
    width: 100%;
  }

  nav #nav-brand {
    display: none;
  }

  nav #nav-user {
    display: none;
  }

  nav #nav-user-mobile:hover {
    background-color: var(--background-elevated-base);
  }

  nav #nav-user-mobile {
    display: flex;
  }

  nav #nav-user-mobile img {
    background-color: var(--background-elevated-highlight);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 50px;
  }

  nav #nav-user-mobile img:hover {
    filter: brightness(1.1);
    transition: filter 0.2s ease-in-out;
  }

  nav #nav-user-mobile img {
    filter: none;
  }

  nav .nav-item {
    flex: 1;
    justify-content: center;
  }

  nav .nav-item img {
    padding: 0;
  }

  nav .nav-item h3 {
    display: none;
  }

  nav .nav-item:last-child {
    margin-top: 0;
    padding: 0;
  }
}
